@media (max-width: 1367px) {
    img {
        width: 100%;
        height: 100%;
    }
    .header-right-item {
        font-size: 16px;
    }
    .header-left-item {
        font-size: 16px;
    }
    header {
        width: 100%;
        background-color: #faf9f8;
        background-size: 100%;
        width: 100%;
    }
    .header-wrapper {
        padding: 73px;
        padding-bottom: 0px;
    }
    .intro {
        width: 100%;
    }
    .intro-wrapper > img {
        width: 100%;
        max-width: 410px;
        max-height: 422px;
    }
    .text {
        font-size: 20px;
    }
    .heading {
        font-size: 32px;
    }
    .intro-heading {
        font-size: 48px;
    }
    .intro-wrapper {
        display: flex;
        padding-top:80px;
        padding-bottom: 144px;
        justify-content: space-between;
    }
    .intro-paragraph {
        width: 60%;
        font-weight: 400;
        margin-bottom: 60px;
    }
    .intro-btn {
        padding: 18px 42px;
        border-radius: 59px;
    }
    .categories-heading {
        padding-bottom: 42px;
        padding-top: 86px;
    }
    .intro-wrapper {
        display: flex;
        gap: 99px;
        padding-top:88px;
        padding-bottom: 144px;
        
    }
    .new-colection-heading {
        margin-bottom: 70px;
        margin-top: 0;
    }
    .new-colection-item > img{
        width: 100%;
        max-width: 328px;
        height: 100%;
        max-height: 324px;
    }
    .about-img {
        height: 100%;
        max-height: 700px;
        width: 100%;
        max-width: 400px;
    }
    .about {
    margin-bottom: 127px;
    margin-top: 107px;
    }
    .about-content {
        margin-bottom: 45px;
        width: 80%;
    }
    .about-btn {
        display: inline-block;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        padding: 20px 27px;
        color: #000;
        border-style: solid;
    }
    .contact-img {
        height: 100%;
        max-height: 624px;
        width: 100%;
        max-width: 439px;
    }
    .name {
        padding: 8px 416px 47px 13px;
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        margin-bottom: 14px;
    }
    .email{
        padding: 8px 338px 46px 15px;
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        margin-bottom: 14px;
    
    }
    .message{
        padding: 9px 394px 95px 14px;
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        margin-bottom: 74px;
    }
    .contact-btn {
        color: #fff;
        padding: 17px 59px;
        background-color: #8E9A82;
        border-radius: 10px;
    }
}
/* 


*/
@media (max-width: 993px) {
    img {
        width: 100%;
        height: 100%;
    }
    .header-right-item {
        font-size: 16px;
    }
    .header-left-item {
        font-size: 16px;
    }
    header {
        max-width: 1372px;
        width: 100%;
        background-color: #faf9f8;
        background-size: 100%;
        width: 100%;
    }
    .header-wrapper {
        padding-left: 60px;
        padding-right: 40px;
        padding-top: 41px;
        padding-bottom: 0px;
        font-size: 16px;
        
    }
    .header-left-item {
        width: 221px;
    }
    .intro {
        width: 100%;
    }
    .intro-wrapper > img {
        width: 100%;
        max-width: 320px;
        max-height: 330px;
    }
    .text {
        font-size: 20px;
    }
    .heading {
        font-size: 32px;
    }
    .intro-heading {
        font-size: 48px;
    }
    .intro-wrapper {
        display: flex;
        padding-top:65px;
        padding-bottom: 101px;
        justify-content: space-between;
    }
    .intro-paragraph {
        width: 60%;
        font-weight: 400;
        margin-top: 1px;
        margin-bottom: 36px;
    }
    .intro-btn {
        padding: 8px 45px;
        border-radius: 59px;
    }
    .categories-heading {
        padding-bottom: 42px;
        padding-top: 60px;
        
    }
    .new-colection-heading {
        margin-bottom: 70px;
        margin-top: 0;
    }
    .new-colection {
        padding-bottom: 71px;
    }
    .new-colection-description{
        font-size: 32px;
    }
    .new-colection-item > img{
        width: 100%;
        max-width: 328px;
        height: 100%;
        max-height: 324px;
    }
    .about-img {
        height: 100%;
        max-height: 516px;
        width: 100%;
        max-width: 251px;
        margin-left: 50px;
    }
    .about-heading {
        margin-bottom: 25px;
    }
    .about {
        margin-bottom: 127px;
        margin-top: 107px;
    }
    .about-content {
        margin-bottom: 15px;
        width: 80%;
    }
    .about-btn {
        display: inline-block;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        padding: 9px 21px;
        color: #000;
        border-style: solid;
    }
    .contact-img {
        height: 100%;
        max-height: 429px;
        width: 100%;
        max-width: 302px;
    }
    .contact-wrapper {
        justify-content: center;
        gap: 25px;
    }
    .name {
        padding: 5px 212px 36px 10px;
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        margin-bottom: 14px;
    }
    .email{
        padding: 6px 109px 35px 10px;
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        margin-bottom: 14px;
    
    }
    .message{
        padding: 9px 109px 73px 10px;
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        margin-bottom: 31px;
    }
    .contact-btn {
        color: #fff;
        padding: 13px 153px;
        background-color: #8E9A82;
        border-radius: 10px;
    }
}
/* 


*/
@media (max-width: 376px) {
    img {
        width: 100%;
        height: 100%;
    }
    .header-right-item {
        font-size: 16px;
        display: none;
    }
    .header-left-item {
        font-size: 16px;
        margin-right: 20px;
        margin-left: -30px;
    }
    .header-375px-btn {
        display: inline;
        background-image: url(/images/header-menu.png);
        width: 63px;
        height: 47px;
    }
    header {
        max-width: 1372px;
        width: 100%;
        background-color: #faf9f8;
        background-size: 100%;
        width: 100%;
    }
    .header-wrapper {
        padding-left: 32px;
        padding-right: 40px;
        padding-top: 21px;
        padding-bottom: 0px;
        font-size: 16px;
        
    }
    .intro {
        width: 100%;
    }
    .intro-wrapper > img {
        width: 100%;
        max-width: 220px;
        max-height: 280px;
        order: 2;
        position: absolute;
        top: 110px;
        left: 170px;
    }
    .intro-heading {
        font-size: 32px;
        margin: 0;
    }
    .intro-wrapper {
        display: flex;
        padding-top:35px;
        padding-bottom: 49px;
        justify-content: space-between;
    }
    .intro-paragraph {
        width: 40%;
        font-weight: 400;
        margin-top: 28px;
        font-size: 14px;
        margin-bottom: 36px;
        order: 1;
        margin-right: 16px;
        margin-left: 10px;
    }
    .intro-btn {
        padding: 9px 30px;
        border-radius: 59px;
        font-size: 13px;
    }
    .categories-heading {
        padding-bottom: 25px;
        padding-top: 20px;
        font-size: 26px;
    }
    .categories-inner{
        gap: 5px;
    }
    .new-colection-heading {
        margin-bottom: 34px;
        font-size: 16px;
        margin-top: 0;
    }
    .new-colection {
        padding-bottom: 0px;
        padding-top: 38px;
    }
    .new-colection-description{
        font-size: 15px;
        margin-top: 25px;
        padding-bottom: 40px;
    }
    .new-colection-item > img{
        width: 100%;
        max-width: 117px;
        height: 100%;
        max-height: 179px;
        overflow: hidden;
    }
    .about-img {

        order: 2;
        display: none;
    }
    .about-content-item1{
        order: 1;
    }
    .about-content-item {
        order: 3;
    }
    .about-heading {
        margin-bottom: 25px;
    }
    .about-img-375 {
        display: inline-block;
        height: 100%;
        max-height: 250px;
        width: 100%;
        max-width: 198px;
        margin: 0 auto;
    }
    .about {
        margin-bottom: 35px;
        margin-top: 23px;
        text-align: center;
        padding-left: 50px;
        gap: 0;
    }
    .about-heading {
        padding-left: 50px;
    }
    .about-content {
        margin-bottom: 15px;
        font-size: 16px;
        width: 283px;
    }
    .about-btn {
        display: inline-block;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        padding: 10px 19px;
        color: #000;
        font-size: 14px;
        border-style: solid;
        margin-left: 32%;
    }
    .contact-img {
        height: 100%;
        max-height: 429px;
        width: 100%;
        max-width: 302px;
        margin: 64px 0 0 8%;
       
    }
    .contact {
        background-image: linear-gradient(180deg, #F1F1F1 70%, #DBDBDB 30%);
    }
    .contact-heading{
        font-size: 20px;
        text-align: center;
    }
    .contact-wrapper {
        display: block;
        margin: 0 auto;
    }
    .name {
        padding: 5px 90px 36px 10px;
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        margin-bottom: 14px;
        font-size: 15px;
        width: 257px;
        height: 81px;
    }
    .email{
        padding: 6px 90px 35px 10px;
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        margin-bottom: 14px;
        font-size: 15px;
        width: 257px;
        height: 80px;
    
    }
    .message{
        padding: 9px 90px 73px 10px;
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        border-color: #8E9A82;
        margin-bottom: 31px;
        font-size: 15px;
        width: 257px;
        height: 130px;
    }
    .contact-btn {
        color: #fff;
        padding: 13px 100px;
        background-color: #8E9A82;
        border-radius: 10px;
        margin-left: 60px;
    }
    .info {
        margin-left: 16.1%;
    }
}