@media (max-width: 1367px) {  
    .header-right-item {
        font-size: 16px;
    }
    .header-left-item {
        font-size: 16px;
    }
    header {
        max-width: 1372px;
        width: 100%;
        background-color: #faf9f8;
        background-size: 100%;
        width: 100%;
        max-width: 1380px;
    }
    .intro {
        max-width: 1372px;
        width: 100%;
    }
    .intro-wrapper > img {
        max-width: 410px;
    }
    .text {
        font-size: 32px;
    }
    .heading {
        font-size: 32px;
    }
    h1 {
        font-size: 48px;
    }
}